html, body{
	height: 100%;
	box-sizing: border-box;
	background: #FDF3E7;
	font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button a{
	text-decoration: none;
	color: #FFFFFF;
}

.button-home{
	display: none;
}

header{
	z-index: 1;
	box-sizing: border-box;
	position: fixed;
	width: 75%;
	min-height: 50px;
	left: 50%;
	margin-left: -37.5%;
	text-align: center;
	border-bottom: 5px solid #32bea6;
	background: white;
	top: 0;
}

table{
	margin-top: 30px;
	margin-bottom: 50px;
	display: inline-table;
	height: 50%;
	width: 30%;
	background: #685642;
}

th, td{
	box-shadow: 10px 10px 50px ;
}

table, th, td {
    border: 10px solid #a58763;
    border-collapse: collapse;
    padding: 7%;
    text-align: center;
}

.form .home label{
	float: left;
}

.passwords{
	display: none;
}

.arrow-left{
	position: absolute;
	left: 25%;
	bottom: 37%;
}

.arrow-right{
	position: absolute;
	right: 25%;
	bottom: 37%;
}

nav{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 45px;
	margin-right: 50px;
}

nav li{
		display: inline-block;
}

nav a{
	text-decoration: none;
	padding: 10px;
	color: black;
}

nav a:active{
     text-decoration:underline;
     color: #32bea6;
}

main{
	min-height: 50%;
	text-align: center;
	overflow: hidden;
	width: 75%;
	margin: auto;
	margin-top: 114px;
	background: white;
}

main p {
	padding: 3% 5%;
	line-height: 25px;
}

.objects{
	margin-top: 5%;
	padding-left: 30px;
	float: left;
	overflow-y: scroll;
	min-width: 300px;
	height: 700px;
	text-align: initial;
	line-height: 30px;
}

.objects ol{
	margin-bottom: 15px;
	list-style: decimal;
}

.objects h1{
	font-size: 30px;
	text-decoration: underline;
}

.profile p{
	margin-top: 25px;
	margin-left: 25px;
	display: inline-block;
	box-shadow: 3px 3px 3px 0px #32bea6, 0px 0px 5px 0px #32bea6;
	padding: 1%;
}

.form h1, p{
	box-shadow: 3px 3px 3px 0px #32bea6, 0px 0px 5px 0px #32bea6;
	padding: 1%;
	display: inline-block;
}

.logo{
	margin: auto;
	padding: 10px;
	display: block;
}

.search{
	margin-bottom: 25px;
}

.form {
  margin: 10% auto;
  display: block;
  box-shadow: 3px 3px 3px 0px #32bea6, 0px 0px 5px 0px #32bea6;
  z-index: 1;
  max-width: 360px;
  padding: 45px;
 
}

.form h1{
	margin-bottom: 25px;
}

.form.home{
	margin-top: 3%;
	margin-bottom: 3%;
}

.form.drawers, .form.home select{
	margin-bottom: 5%;
	width: 50%;
	padding: 15px;
  	box-shadow: 3px 3px 3px 0px #32bea6, 0px 0px 5px 0px #32bea6;
	border: 0;
}

.form.advanced select
{
	margin-top: 5%;
	width: 30%;
	padding: 15px;
  	box-shadow: 3px 3px 3px 0px #32bea6, 0px 0px 5px 0px #32bea6;
	border: 0;
}

.drawer-create{
	width: 100%;
}

.form.home button{
	width: 45%;
	margin-bottom: 5%;
}

.form.advanced{
	display: block;
	max-width: 500px;
}
 
.form.advanced select{
	margin-left: 25px;
}

.form.advanced h1{
	float: left;
}

.form.advanced p{
	
	margin-top: 30px;
	margin-left: 7px;
	margin-bottom: 10px;
}

.form input , .search input{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}


.form button, .search button {
  text-transform: uppercase;
  outline: 0;
  background: #32bea6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.search input{
	width: 85%;
	float: left;
}

.search button{
	width: 15%;
}

.form button:hover,.form button:active,.form button:focus {
  background: #197499;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  text-align: center;
  font-size: 12px;
}

.form .message a {
  color: #32bea6;
  text-decoration: none;
}

.form .message.wrong{
  color: red;
}

.form .message.success{
  color: green;
}

.form .register-form {
  display: none;
}

footer{
	color: white;
	height: 40px;
	width: 75%;
	margin: auto;
	background: #32bea6;
	line-height: 40px;
	box-sizing: border-box;
}

footer ul{
	list-style-type: none;
	margin: auto;
	font-size: 0.8em;
	text-align: center;
}

footer li{
	display: inline-block;
}

footer a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 0px 15px;
}

footer a:hover{
	background: #197499;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	main{
		width: 100%;
		margin-top: 18%;
		min-height: auto;
	}
	
	header{
		min-width:100%;
		left: 0;
		margin-left: 0;
	}

	.form{
		margin: 0;
		max-width: 100%;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}

	.search input{
		width:100%;
	}
	
	.search button{
		width: 65%;
	}

	.objects{
		width: 100%;
		float: none;
	}

	.form.home{
		margin-top: 15px;
		max-width: 100%;
	}

	

	nav{
		position: relative;
		margin-right: 0;
		margin-bottom: 20px;
	}

	footer{
		width: 100%;
	}
	
	table{
		width: 75%;
		margin-top: 125px;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
	nav{
		position: relative;
		margin-right: 0;
		margin-bottom: 20px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

	main{
		width: 100%;
		margin-top: 14%;
	}
	
	header{
		min-width:100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}

	.form.home{
		float: right;
		max-width: 75%;
	}
	
	footer{
		width: 100%;
	}
	
	.search input {
		width: 80%;
	}

	.search button{
		width:20%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
	
	.arrow-left, .arrow-right{
		bottom: 15%;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
	main{
		width: 100%;
	}
	
	header{
		min-width:100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}
	
	.form{
		margin-top: 12%;
	}
	
	.form.home{
		max-width: 100%;
	}

	.objects{
		width: 100%;
	}
	
	.search input {
		width: 75%;
	}

	.search button{
		width:25%;
	}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
	
	.arrow-left, .arrow-right{
		bottom: 40%;
	}
}


/* Ipad PRO Landscape*/

@media only screen and (min-device-width: 1366px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {}

/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
main{
		width: 100%;
	}
	
	header{
		min-width:100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}
	
	.form{
		margin-top: 18%;
	}
	
	.form.home{
		max-width: 100%;
	}

	.objects{
		width: 100%;
	}
	
	.search input {
		width: 75%;
	}

	.search button{
		width:25%;
	}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
	
	.arrow-left, .arrow-right{
		bottom: 40%;
	}
	
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
nav{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 45px;
	margin-right: 50px;
	}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
	nav{
		position: absolute;
		right: 0;
		bottom: 0;
		margin-bottom: 45px;
		margin-right: 50px;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	main{
		width: 100%;
		margin-top: 31%;
	}
	
	header{
		min-width:100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}
	
	.form{
		margin: 0;
	}

	.objects{
		width: 100%;
	}

	.form.advanced{
		margin: auto;
	}
	
	.form.home{
		max-width: 100%;
	}

	.arrow-left, .arrow-right{
			bottom: 10px;
	}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	main{
		width: 100%;
		
	}
	
	header{
		min-width:100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}
	
	.form{
		margin: 0;
	}

	.arrow-left, .arrow-right{
			bottom: 0;
	}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	main{
		width: 100%;
		margin-top: 15%;
	}
	
	header{
		min-width: 100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}
	
	nav{
		position: relative;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.search input{
		width:100%;
	}
	
	.search button{
		width: 65%;
	}

	.form{
		margin: 0;
		max-width: 100%;
	}

	.arrow-left, .arrow-right{
		bottom: -85%;
	}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	main{
		width: 100%;
		margin-top: 19%;
	}
	
	header{
		min-width: 100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}

	nav{
		position: relative;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.form{
		margin: 0;
		max-width: 100%;
	}
	
	.arrow-left, .arrow-right{
			bottom: 10%;
		}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 736px) and (max-device-height: 414px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	
}


@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	main{
		width: 100%;
		margin-top: 27%;
	}
	
	header{
		min-width: 100%;
		left: 0;
		margin-left: 0;
		height: 65px;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}

	.form{
		margin: 0;
	}



	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	main{
		width: 100%;
		margin-top: 15%;
	}
	
	header{
		min-width: 100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}

	nav{
		position: relative;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.form{
		margin: 0;
		max-width: 100%;
	}
	
	.objects{
		width: 100%;
	}

	.arrow-left, .arrow-right{
		bottom: -50%;
	}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
	main{
		width: 100%;
		margin-top: 29%;
	}
	
	header{
		min-width: 100%;
		left: 0;
		margin-left: 0;
	}

	.logo img{
		width: 30%;
		height: 30%;
	}

	nav{
		position: relative;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.form{
		margin: 0;
	}
	
	.arrow-left, .arrow-right{
		bottom: 5%;
	}

	.objects{
		width: 100%;
	}

	footer{
		width: 100%;
	}

	table{
		width: 75%;
		margin-top: 125px;
	}
}